.colour-circle{
  position: absolute;
  width: 65px; height: 65px;
  border: 1px solid grey;
  border-radius: 5000px;
  -moz-border-radius: 5000px;
  -webkit-border-radius: 5000px;
  margin: auto;
  left:0;
  right:0;
  cursor: pointer;
}

#white{
  margin: auto;
  top: 15px;
}

#black{
  margin: auto;
  top: 420px;
}

#yellow{
  right:230px;
  top:0;
  bottom:325px;
}

#orange{
  left:230px;
  top:0;
  bottom:325px;
}

#blue{
  right: 375px;
  top:0;
  bottom:125px;
}

#green{
  left: 375px;
  top:0;
  bottom:125px;
}

#purple{
  right: 375px;
  bottom:0;
  top:125px;
}

#pink{
  left: 375px;
  bottom:0;
  top:125px;
}

#brown{
  right:230px;
  bottom:0;
  top:325px;
}

#red{
  left:230px;
  bottom:0;
  top:325px;
}
