html body{
  margin: 0;
  padding: 0;
  background-color:  black;
}

body{
}

#inner-body-1, #inner-body-2{
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
}

#inner-body-1{
  background-color: black;
}
#inner-body-2{
  background-image: url('../images/oie_transparent.png');
  background-size: cover; 
}

#intro-container{
  position: fixed;
  width:500px; height: 500px;
  background-color: white;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  box-shadow: 0 0 30px 10px grey;
  -moz-box-shadow: 0 0 30px 10px grey;
  -webkit-box-shadow: 0 0 30px 10px grey;
}

#intro-text-title{
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#intro-text-1, #intro-text-2{
  position: absolute;
  text-align: center;
  line-height: 33px;
  font-size: 26px;
  top:65px;
  bottom:40px;
  left:30px;
  right:30px;
}
#intro-text-2{
  top: 310px;
}

button{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom:17px;
    font-size: 30px;
}

#main-container{
  position: absolute;
  width:500px; height: 500px;
  background-color: white;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 5000px;
  -moz-border-radius: 5000px;
  -webkit-border-radius: 5000px;
  box-shadow: 0 0 30px 1px;
  -moz-box-shadow: 0 0 30px 1px;
  -webkit-box-shadow: 0 0 30px 1px;
  display: none;
}

#colour-description-title{
  position: absolute;
  padding: 0;
  margin: 0;
  top: 90px;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  color: black;
  text-decoration: underline;
}

p{
    position: absolute;
    padding: 0;
    margin: 0;
}

#select-a-colour-text{
  width: 100%;
  top: 225px;
  text-align: center;
  font-size: 40px;
}

#colour-description-text{
  left: 120px;
  right: 120px;
  top: 140px;
  bottom: 130px;
}
