html body{
  margin: 0;
  padding: 0;
  background-color:  black;
}

#inner-body{
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  display: none;
  background-color: black;
}

#intro-container{
  position: fixed;
  width:500px; height: 500px;
  background-color: white;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  box-shadow: 0 0 30px 10px grey;
  -moz-box-shadow: 0 0 30px 10px grey;
  -webkit-box-shadow: 0 0 30px 10px grey;
}

#main-container{
  position: absolute;
  width:500px; height: 500px;
  background-color: white;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 5000px;
  -moz-border-radius: 5000px;
  -webkit-border-radius: 5000px;
  box-shadow: 0 0 30px 1px;
  -moz-box-shadow: 0 0 30px 1px;
  -webkit-box-shadow: 0 0 30px 1px;
  display: none;
}

#colour-description-title{
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 100px;
  text-align: center;
  margin: auto;
  font-size: 50px;
  color: black;
  text-shadow: 0 0 5px white;
  text-decoration: underline;
}

#colour-description-text{
  position: absolute;
  padding: 0;
  margin: 0;
  left: 120px;
  right: 120px;
  top: 130px;
  bottom: 130px;
  background-color: red;
}
