body{
  margin: 0;
  padding: 0;
  background-color:  black;
}

#intro-container{
  position: fixed;
  width:500px; height: 500px;
  background-color: white;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  box-shadow: 0 0 30px 10px grey;
  -moz-box-shadow: 0 0 30px 10px grey;
  -webkit-box-shadow: 0 0 30px 10px grey;
}

#main-container{
  position: absolute;;
  width:500px; height: 500px;
  background-color: white;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 5000px;
  -moz-border-radius: 5000px;
  -webkit-border-radius: 5000px;
  box-shadow: 0 0 30px 1px;
  -moz-box-shadow: 0 0 30px 1px;
  -webkit-box-shadow: 0 0 30px 1px;
  display: none;
}


.colour-circle{
  position: absolute;
  width: 65px; height: 65px;
  border: 1px solid grey;
  border-radius: 5000px;
  -moz-border-radius: 5000px;
  -webkit-border-radius: 5000px;
  margin: auto;
  left:0;
  right:0;
}

.colour-circle:hover{
  width: 67px; height: 67px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px 5px;
  -moz-box-shadow: 0 0 5px 1px;
  -webkit-box-shadow: 0 0 5px 1px;
}

#white{
  margin: auto;
  top: 15px;
}

#black{
  margin: auto;
  top: 420px;
}

#yellow{
  right:230px;
  top:0;
  bottom:325px;
}

#orange{
  left:230px;
  top:0;
  bottom:325px;
}

#blue{
  right: 375px;
  top:0;
  bottom:125px;
}

#green{
  left: 375px;
  top:0;
  bottom:125px;
}

#purple{
  right: 375px;
  bottom:0;
  top:125px;
}

#pink{
  left: 375px;
  bottom:0;
  top:125px;
}

#brown{
  right:230px;
  bottom:0;
  top:325px;
}

#red{
  left:230px;
  bottom:0;
  top:325px;
}
